# myIOTServer.service
#
# This file is a "systemd unit" file describing a service to be started,
# in this case, my "myIOTServer" service.  It is assumed that you can
# already run Server.pm from a command line in the /base/My/IOT directory:
#
#       perl ./myIOTServer.pm NO_SERVICE
#
# which means that you have already:
#
# (0) Set environment variables and modified config (/etc/ssh/ssh_config) as needed.
# (1) Created the /base, /base/My, and /base_data/temp and /base_data/data
# (2) Copied the contents of /base/My upto the remote machine
# (3) Marked the perl *.pm files as executable (chmod 755)
# (4) Installed any necessary Perl Modules (Date::Calc and Crypt::RC4, etc)
# (5) Copied the /base_data/ssl amd /base_data/myIOTServer directories
# (7) Marked the /base_data/ssl/myiot_user_ssh_key 600 and .pub 640
#
# and been able to "hit" the server with with https://phorton.net:7802/index.html
# Also see /zip/_rPi/_setup/rPi_Setup.docx file
#
# INSTALLATION:
#
# To install this file on a new linux (fedora) machine, copy it to the
# /usr/lib/systemd/system/ directory
#
#   > cd /base/My/IOT
#   > sudo cp myIOTServer.service /usr/lib/systsemd/system
#
# and run:
#
#   > sudo systemctl enable myIOTServer
#
# and then
#
#   > sudo systemctl start myIOTServer
#
# This will create a symbolic link from
#
# /etc/systemd/system/network-online.target.wants/myIOTServer.service
#
# to the file in /usr/lib/systemd/system directory, and enable the service
# on startup.  Thereafter you should be able to start and stop the service
# from Webmin Bootup/Shutdown, and/or from any web pages I build to do the,
# or via sudo systemctl start/restart/stop myIOTServer and it should be
# running on a freshly booted machine.
#
#
# If you modify this file you need to stop the service, recopy this file to
# /usr/lib/systemd/system, and run "sudo systemctl daemon-reload", and then
# restart the artisan service.
#
# Note that we added the auto-restart to this service, but it is not
# currently in the fileServer (or mbe masterServer) service files


[Unit]
Description=:myIOTServer running on a rPi

[Service]
Type=forking
PIDFile=/base_data/temp/myIOTServer/myIOTServer.pid
ExecStart=/base/My/IOT/myIOTServer.pm
ExecStop=kill -KILL $(cat /base_data/temp/myIOTServer/myIOTServer.pid)
Restart=on-failure
RestartSec=60s
User=pi


[Install]
# WantedBy=multi-user.target
WantedBy=network-online.target
